<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Document</title>
</head>
<body>
    <div class="Page_1">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player class="Hello" src="https://assets1.lottiefiles.com/packages/lf20_lsoqdndv.json" background="transparent" speed="1" style="width: 75%; height: 75%;" loop autoplay></lottie-player>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player class="Astro" src="https://assets6.lottiefiles.com/packages/lf20_pmgmuthj.json"  background="transparent"  speed="1"  style="width: 90%; height: 90%;"  loop  autoplay></lottie-player>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player class="Scroll_icon" src="https://assets5.lottiefiles.com/packages/lf20_nEykVY.json"  background="transparent"  speed="1"  style="width: 35%; height: 35%;"  loop  autoplay></lottie-player>
    </div>
    <div class="Page_2">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player class="Greeting_Card" src="https://assets10.lottiefiles.com/private_files/lf30_smtnx4ug.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
    </div>
    <!--<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player class="Cele_Cone" src="https://assets10.lottiefiles.com/packages/lf20_dwQ1OP.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>-->
</body>
</html>